.dayForm {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.table {
  width: 100%;
  max-width: 35rem;
  margin: auto;
  margin-bottom: 1rem;

  &,
  tr,
  th,
  td {
    border: 0.1rem solid black;
  }

  td {
    padding: 0.15em;
  }
}

.actions {
  font-size: 1.4rem;
  display: flex;
  gap: 0.5rem;
  width: fit-content;
  margin: auto;
}

.buttons {
  font-size: 1.33rem;

  button {
    padding: 0.5em;
    margin: 0.1em;
  }

  .red {
    background: lightcoral;
  }
}
